Repository jpawlowski/hacs.integration_blueprint: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, codespell

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration uses local hooks that rely on packages
# installed in the virtual environment (via requirements.txt),
# avoiding separate pre-commit environments for faster execution.
repos:
  - repo: local
    hooks:
      # Run the Ruff linter with auto-fix
      - id: ruff
        name: ruff
        entry: ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        require_serial: true

      # Run the Ruff formatter
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true

      # Spell checking
      - id: codespell
        name: codespell
        entry: codespell
        language: system
        types_or: [python, markdown, rst]

      # Type checking with Pyright (optional, can be slow)
      # Uncomment to enable in pre-commit (recommended to use in IDE instead)
      # - id: pyright
      #   name: pyright
      #   entry: pyright
      #   language: system
      #   types: [python]
      #   # Run manually with: pre-commit run pyright --all-files
      #   stages: [manual]

ci: audit GitHub Actions workflows with zizmor
  .agents/instructions/blueprint.yaml.instructions.md
  .agents/skills/ha-quality-review/SKILL.md
  .github/workflows/auto-assign.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dependabot-ha-stability-check.yml
  .github/workflows/ha-version-sync-check.yml
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
  .github/workflows/template-sync.yml
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  script/check
  script/lint
  script/lint-check
  script/yaml-check
Due: codespell

docs(agents): add Core's integration lint checks to ha-quality-review
  .agents/skills/ha-quality-review/SKILL.md
  .agents/skills/ha-quality-review/references/core-lint-checks.md
Due: codespell

docs(agents): let agents migrate stale code they are already editing
  AGENTS.md
Due: codespell

feat(agents): add ha-grill, the requirements interview skill
  .agents/skills/README.md
  .agents/skills/blueprint-import/SKILL.md
  .agents/skills/blueprint-import/references/legacy-patterns.md
  .agents/skills/blueprint-scaffold/SKILL.md
  .agents/skills/ha-grill/SKILL.md
  .agents/skills/ha-grill/references/question-bank.md
  .agents/skills/ha-planning/SKILL.md
  .agents/skills/ha-translations/SKILL.md
  AGENTS.md
Due: codespell

chore(devcontainer): wire delta into git for the human terminal
  .devcontainer/setup-git.sh
  AGENTS.md
Due: codespell

docs(agents): warn that rg and fd under-report in custom_components
  AGENTS.md
Due: codespell

fix(agents): correct instructions that contradict the HA developer docs
  .agents/instructions/blueprint.config_flow.instructions.md
  .agents/instructions/blueprint.entities.instructions.md
  .agents/instructions/blueprint.manifest.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  .agents/instructions/blueprint.repairs.instructions.md
  .agents/instructions/blueprint.service_actions.instructions.md
  .agents/instructions/blueprint.translations.instructions.md
  .agents/skills/ha-modern-apis/references/deprecations.md
  .agents/skills/ha-service-action/SKILL.md
  .agents/skills/ha-translations/SKILL.md
  .devcontainer/devcontainer.json
  AGENTS.md
  custom_components/ha_integration_domain/binary_sensor/__init__.py
  custom_components/ha_integration_domain/button/__init__.py
  custom_components/ha_integration_domain/const.py
  custom_components/ha_integration_domain/fan/__init__.py
  custom_components/ha_integration_domain/number/__init__.py
  custom_components/ha_integration_domain/select/__init__.py
  custom_components/ha_integration_domain/sensor/__init__.py
  custom_components/ha_integration_domain/switch/__init__.py
Due: ruff, ruff-format, codespell

feat(agents): add the mandatory rules the HA docs state and we omitted
  .agents/instructions/blueprint.config_flow.instructions.md
  .agents/instructions/blueprint.diagnostics.instructions.md
  .agents/instructions/blueprint.entities.instructions.md
  .agents/instructions/blueprint.manifest.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  .agents/instructions/blueprint.repairs.instructions.md
  .agents/skills/blueprint-scaffold/SKILL.md
  .agents/skills/ha-entity-platform/SKILL.md
  .agents/skills/ha-entity-platform/references/platform-members.md
  .agents/skills/ha-modern-apis/references/deprecations.md
  .agents/skills/ha-quality-review/references/quality-scale-rules.md
  AGENTS.md
Due: codespell

docs(agents): replace vague guidance with the docs' checkable rules
  .agents/instructions/blueprint.api.instructions.md
  .agents/instructions/blueprint.config_flow.instructions.md
  .agents/instructions/blueprint.coordinator.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  .agents/instructions/blueprint.services_yaml.instructions.md
  .agents/instructions/blueprint.tests.instructions.md
  .agents/skills/ha-breaking-changes/SKILL.md
  .agents/skills/ha-coordinator-debug/SKILL.md
  .agents/skills/ha-quality-review/SKILL.md
  .agents/skills/ha-quality-review/references/core-lint-checks.md
  .agents/skills/ha-quality-review/references/quality-scale-rules.md
  .agents/skills/ha-release/SKILL.md
  .agents/skills/ha-translations/SKILL.md
  AGENTS.md
  AI_POLICY.md
Due: codespell

docs(agents): list gron in the devcontainer tool list
  AGENTS.md
Due: codespell

feat(agents): cover the doc areas the skill set had no answer for
  .agents/instructions/blueprint.api.instructions.md
  .agents/instructions/blueprint.manifest.instructions.md
  .agents/skills/blueprint-scaffold/SKILL.md
  .agents/skills/ha-config-flow/SKILL.md
  .agents/skills/ha-config-flow/references/discovery-matchers.md
  .agents/skills/ha-config-flow/references/oauth2.md
  .agents/skills/ha-entity-platform/SKILL.md
  .agents/skills/ha-modern-apis/references/deprecations.md
  .agents/skills/ha-quality-review/SKILL.md
  .agents/skills/ha-service-action/SKILL.md
  AGENTS.md
Due: codespell

feat(agents): add the offline-start and pre-1.0.0 rules from practice
  .agents/instructions/blueprint.coordinator.instructions.md
  .agents/skills/blueprint-scaffold/SKILL.md
  .agents/skills/ha-breaking-changes/SKILL.md
  .agents/skills/ha-grill/references/question-bank.md
  .agents/skills/ha-planning/SKILL.md
  AGENTS.md
Due: codespell

refactor(agents): move lookup material out of injected rule files
  .agents/instructions/blueprint.config_flow.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  .agents/skills/ha-config-flow/SKILL.md
  .agents/skills/ha-config-flow/references/flow-types.md
  .agents/skills/ha-coordinator-debug/SKILL.md
  .agents/skills/ha-coordinator-debug/references/async-rules.md
Due: codespell

refactor(agents): cut duplicated and tutorial material from the rule set
  .agents/instructions/blueprint.api.instructions.md
  .agents/instructions/blueprint.comments.instructions.md
  .agents/instructions/blueprint.commit-message.instructions.md
  .agents/instructions/blueprint.config_flow.instructions.md
  .agents/instructions/blueprint.configuration_yaml.instructions.md
  .agents/instructions/blueprint.coordinator.instructions.md
  .agents/instructions/blueprint.entities.instructions.md
  .agents/instructions/blueprint.manifest.instructions.md
  .agents/instructions/blueprint.markdown.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  .agents/instructions/blueprint.repairs.instructions.md
  .agents/instructions/blueprint.service_actions.instructions.md
  .agents/instructions/blueprint.services_yaml.instructions.md
  .agents/instructions/blueprint.shell.instructions.md
  .agents/instructions/blueprint.tests.instructions.md
  .agents/instructions/blueprint.translations.instructions.md
  .agents/instructions/blueprint.yaml.instructions.md
  .agents/skills/blueprint-tooling/SKILL.md
  .agents/skills/ha-config-flow/references/flow-types.md
  .agents/skills/ha-coordinator-debug/SKILL.md
  .agents/skills/ha-modern-apis/SKILL.md
  .agents/skills/ha-quality-review/SKILL.md
  AGENTS.md
Due: codespell

fix(agents): correct rules that contradict the configured tooling
  .agents/instructions/blueprint.entities.instructions.md
  .agents/instructions/blueprint.json.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  .agents/instructions/blueprint.tests.instructions.md
  .agents/skills/ha-config-flow/SKILL.md
  .agents/skills/ha-entity-platform/SKILL.md
  .agents/skills/ha-testing/SKILL.md
  .agents/skills/ha-translations/SKILL.md
Due: codespell

docs(scripts): correct what script/develop says --debug does
  script/develop
Due: none

fix(scripts): correct relative symlink depth in sync-hacs
  script/setup/sync-hacs
Due: none

fix(repairs): reduce repairs.py to the platform hook
  custom_components/ha_integration_domain/__init__.py
  custom_components/ha_integration_domain/api/__init__.py
  custom_components/ha_integration_domain/api/client.py
  custom_components/ha_integration_domain/const.py
  custom_components/ha_integration_domain/coordinator/base.py
  custom_components/ha_integration_domain/repairs.py
  custom_components/ha_integration_domain/translations/en.json
  tests/conftest.py
  tests/test_blueprint_device_registry.py
  tests/test_repairs.py
Due: ruff, ruff-format, codespell

fix(scripts): rebuild the venv before installing into it
  script/setup/bootstrap
Due: none

fix(scripts): pick the venv this environment actually maintains
  script/.lib/output.sh
  script/clean
  script/develop
  script/hassfest
  script/setup/setup
  script/test
Due: none

docs(scripts): straighten out venv helper comments in output.sh
  script/.lib/output.sh
  script/hassfest
Due: none

chore(devcontainer): update sandbox mode and remove bubblewrap
  .devcontainer/codex/config.toml
  .devcontainer/devcontainer.json
Due: none

docs: define delegated agent communication policy
  AGENTS.md
  AI_POLICY.md
Due: codespell

chore(devcontainer): preserve user Codex configuration
  .devcontainer/on-create.sh
Due: none

chore: add synchronized architecture guardrails
  .agents/skills/blueprint-tooling/SKILL.md
  .agents/skills/blueprint-tooling/references/hooks.md
  docs/blueprint/DECISIONS.md
  script/.lib/architecture_check.py
  script/architecture-check
  script/lint
  script/lint-check
  script/python
  script/python-check
  script/test
  script/tests/test_architecture_check.py
  script/type-check
Due: ruff, ruff-format, codespell

chore(agents): add guarded issue and release workflows
  .agents/README.md
  .agents/hooks/pre-push-check.sh
  .agents/hooks/remind-dependency-sync.sh
  .agents/instructions/blueprint.shell.instructions.md
  .agents/skills/README.md
  .agents/skills/blueprint-skill-maintenance/SKILL.md
  .agents/skills/blueprint-tooling/SKILL.md
  .agents/skills/ha-issue-triage/SKILL.md
  .claude/commands/issues.md
  .claude/commands/release.md
  .claude/settings.json
  .codex/hooks.json
  .devcontainer/claude-code/managed-settings.json
  .devcontainer/devcontainer.json
  .github/prompts/issues.prompt.md
  .markdownlint-cli2.jsonc
  .prettierignore
  .vscode/settings.default.jsonc
  AGENTS.md
  docs/development/AI_AGENTS.md
  script/.lib/skills_check.py
  script/markdown
  script/markdown-check
  script/shell
  script/shell-check
  script/tests/test_agent_hooks.py
  script/tests/test_skills_check.py
Due: ruff, ruff-format, codespell
