Repository jpawlowski/hacs.integration_blueprint: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, codespell

ruff:
  name: ruff
  entry: ruff check --fix --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  require_serial: true

codespell:
  name: codespell
  entry: codespell
  language: system

fix(dev): ensure clean restart by killing debugpy process
  AGENTS.md
  script/develop
Due: codespell

fix(config): enable dual-stack IPv4/IPv6 and remote access
  config/configuration.yaml
Due: none

fix(schemas): use inline YAML schema declarations
  .devcontainer/devcontainer.json
  .vscode/settings.default.jsonc
  config/configuration.yaml
  custom_components/ha_integration_domain/services.yaml
Due: none

fix(init): prevent false "uncommitted changes" warning in containers
  initialize.sh
Due: none

fix(hacs.json): update Home Assistant version to 2025.11.3
  hacs.json
Due: none

docs: require manual initialize.sh execution in all environments
  README.md
  docs/development/CODESPACES.md
Due: codespell

fix(services): improve service registration and add logging for missing config entries
  custom_components/ha_integration_domain/services/__init__.py
Due: ruff, ruff-format, codespell

fix(docs): enhance test instructions with detailed examples and best practices for mocking and registry testing
  .github/instructions/tests.instructions.md
Due: codespell

feat(repairs): add repair flow for deprecated API endpoint and missing configuration issues
  custom_components/ha_integration_domain/__init__.py
  custom_components/ha_integration_domain/repairs.py
  custom_components/ha_integration_domain/translations/en.json
Due: ruff, ruff-format, codespell

feat(config): add config schema for integration and enhance error descriptions
  custom_components/ha_integration_domain/__init__.py
  custom_components/ha_integration_domain/translations/en.json
Due: ruff, ruff-format, codespell

feat(docs): add comprehensive documentation for GitHub Copilot Coding Agent usage and testing
  docs/development/CODESPACES.md
  docs/development/COPILOT_AGENT.md
Due: codespell

feat(initialize): add parsing of .gitignore for prune paths and negations
  initialize.sh
Due: none

feat(workflows): synchronize HA_VERSION across workflow files and enhance caching for dependencies
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint.yml
Due: none

feat(workflows): refine cache restore keys for Home Assistant installation
  .github/workflows/copilot-setup-steps.yml
Due: none

feat(scripts): update virtual environment handling for improved compatibility across environments
  .github/workflows/copilot-setup-steps.yml
  pyproject.toml
  script/clean
  script/lint
  script/lint-check
  script/setup/bootstrap
  script/setup/sync-hacs
  script/spell
  script/spell-check
  script/type-check
Due: none

feat(docs): enhance JSON formatting guidelines in translation instructions
  .github/instructions/translations.instructions.md
Due: codespell

feat(docs): add hassfest validation instructions and local validation script
  AGENTS.md
  CONTRIBUTING.md
  script/check
  script/hassfest
Due: codespell

feat(sync): implement smart merge system with additive strategy
  .blueprint-sync.json
  .blueprint-sync.user.json
  .devcontainer/devcontainer.json
  .gitignore
  initialize.sh
  script/.lib/merge.sh
  script/.lib/output.sh
  script/setup/sync-blueprint
Due: none

fix(devcontainer): simplify container name in devcontainer.json
  .devcontainer/devcontainer.json
Due: none

chore: update Home Assistant version to 2025.12.3 in workflows and documentation
  .devcontainer/devcontainer.json
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint.yml
  DEPENDENCIES.md
Due: codespell

Target copyright year change in LICENSE file more specifically.
  initialize.sh
Due: none

fix(ci): resolve broken venv symlinks in GitHub Actions
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint.yml
  script/setup/bootstrap
Due: none

fix(translations): replace plain URL with markdown link in config flow
  custom_components/ha_integration_domain/translations/en.json
Due: none

fix(config_flow): use description placeholders for documentation URL
  custom_components/ha_integration_domain/config_flow_handler/config_flow.py
  custom_components/ha_integration_domain/translations/en.json
Due: ruff, ruff-format, codespell

chore: optimize AI instruction structure for Copilot Memory support
  .github/copilot-instructions.md
  .github/instructions/json.instructions.md
  .github/instructions/yaml.instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  custom_components/ha_integration_domain/api/__init__.py
  custom_components/ha_integration_domain/data.py
  custom_components/ha_integration_domain/entity/__init__.py
Due: ruff, ruff-format, codespell

chore(init): remove blueprint-specific FUNDING.yml during initialization
  initialize.sh
Due: none

docs: add troubleshooting for VS Code linter initialization
  README.md
  docs/development/CODESPACES.md
Due: codespell

docs: clarify any docker engine will do
  README.template.md
Due: codespell

ci: add manifest-driven tag and release workflow
  .github/workflows/tag-from-manifest.yml
Due: none

docs: add versioning and dependency verification guidance
  AGENTS.md
Due: codespell

chore: upgrade to Home Assistant 2026.4.x and Python 3.14
  hacs.json
  pyproject.toml
  requirements_test.txt
Due: none

chore: update devcontainer setup with additional development tools and command aliases
  .devcontainer/devcontainer.json
  script/setup/setup
Due: none

chore: update devcontainer with additional CLI tools and improve agent instructions
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  AGENTS.md
  script/setup/setup
Due: codespell

chore: add JSONC support for VS Code settings and devcontainer config in Prettier configuration
  .prettierrc.yml
Due: none

chore(docs): add dedicated commit message instructions file
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  .github/instructions/commit-message.instructions.md
  .vscode/settings.default.jsonc
  AGENTS.md
Due: codespell

chore: update .gitignore to exclude settings.json for Visual Studio Code
  .gitignore
Due: none

chore: add yamllint for YAML style checking
  .github/FUNDING.yml
  .pre-commit-config.yaml
  .yamllint.yml
Due: none

chore(devcontainer): fix shellcheck findings and shell script style
  .devcontainer/post-attach.sh
  .devcontainer/setup-git.sh
  .devcontainer/setup-shell.sh
  .editorconfig
Due: none

refactor(script): add per-language scripts and extract activate_venv() helper
  script/.lib/output.sh
  script/check
  script/lint
  script/lint-check
  script/python
  script/python-check
  script/shell
  script/shell-check
  script/spell
  script/spell-check
  script/type-check
  script/yaml-check
Due: none

style(script): apply shfmt formatting to all shell scripts
  script/clean
  script/develop
  script/hassfest
  script/setup/bootstrap
  script/setup/setup
  script/test
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  codespell: any of: \.py$, \.(md|markdown|mdown)$, \.rst$
