Repository jpawlowski/hacs.integration_blueprint: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, codespell

ruff:
  name: ruff
  entry: ruff check --fix --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  require_serial: true

codespell:
  name: codespell
  entry: codespell
  language: system

docs: update agent validation workflow guidance
  .github/copilot-instructions.md
  AGENTS.md
Due: codespell

docs(instructions): update validation guidance for Python and YAML
  .github/instructions/python.instructions.md
  .github/instructions/yaml.instructions.md
Due: codespell

docs(instructions): add shell instructions and update validation guidance
  .github/instructions/services_yaml.instructions.md
  .github/instructions/shell.instructions.md
  .github/instructions/yaml.instructions.md
  AGENTS.md
Due: codespell

docs(instructions): tighten shell.instructions.md applyTo glob
  .github/instructions/shell.instructions.md
Due: codespell

docs(instructions): add critical commit rules for AI agents to follow
  .github/copilot-instructions.md
  AGENTS.md
Due: codespell

ci(deps): configure dependabot groups, cooldowns, and commit prefixes
  .github/dependabot.yml
Due: none

feat(tooling): add Prettier and markdownlint-cli2 for Markdown linting
  .github/copilot-instructions.md
  .github/instructions/commit-message.instructions.md
  .github/instructions/config_flow.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/services_yaml.instructions.md
  .github/instructions/tests.instructions.md
  .github/prompts/Create ADR.prompt.md
  .gitignore
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
  AGENTS.md
  package-lock.json
  package.json
  script/check
  script/lint
  script/lint-check
  script/markdown
  script/markdown-check
  script/setup/bootstrap
Due: codespell

style(docs): apply Prettier and markdownlint formatting
  .github/prompts/Add Action.prompt.md
  .github/prompts/Create Implementation Plan.prompt.md
  .github/prompts/Debug Coordinator Issue.prompt.md
  .github/prompts/Update Translations.prompt.md
  CONTRIBUTING.md
  DEPENDENCIES.md
  README.md
  README.template.md
  docs/development/ARCHITECTURE.md
  docs/development/COPILOT_AGENT.md
  docs/user/CONFIGURATION.md
Due: codespell

docs(deps): document Node.js dev tools in DEPENDENCIES.md
  DEPENDENCIES.md
Due: codespell

chore(setup): update Node.js dependency installation command
  script/setup/bootstrap
Due: none

build(deps): migrate pyright to npm, add @github/copilot CLI
  package-lock.json
  package.json
  requirements_dev.txt
Due: none

feat(devcontainer): expose npm binaries on PATH for AI agents
  .devcontainer/.bashrc
  .devcontainer/.zshrc
  script/setup/setup
  script/type-check
Due: none

perf(devcontainer): move node_modules off workspace bind mount
  .gitignore
  script/setup/bootstrap
Due: none

feat(devcontainer): mount host gh CLI config for automatic auth
  .devcontainer/devcontainer.json
Due: none

chore(config): disable IP banning for development environment
  config/configuration.yaml
Due: none

ci(release): add release-please automation and Copilot-enhanced release notes
  .github/workflows/release-please.yml
  .release-please-manifest.json
  docs/development/RELEASE.md
  release-please-config.json
  script/release-notes
  script/version
Due: codespell

feat(github): add CODEOWNERS and auto-assign workflow
  .github/CODEOWNERS
  .github/workflows/auto-assign.yml
Due: none

chore(ci): update Python version in workflows
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint.yml
Due: none

docs(README): update instructions for using the template repository
  README.md
Due: codespell

chore(devcontainer): update file associations for ignore-style files
  .devcontainer/devcontainer.json
  .prettierignore
  .vscode/settings.default.jsonc
Due: none

feat: add migration guide for existing HACS integrations and update template sync ignore
  .templatesyncignore
  README.md
  docs/development/MIGRATION.md
  initialize.sh
Due: codespell

feat: add shfmt installation step to lint workflow and remove unnecessary workflows permission from template sync
  .github/workflows/lint.yml
  .github/workflows/template-sync.yml
Due: none

docs: update README with instructions to enable GitHub Actions for release PRs and add comments in release workflow
  .github/workflows/release-please.yml
  README.md
Due: codespell

chore: update yamllint ignore rules to include schemas and issue templates
  .yamllint.yml
Due: none

feat: update documentation links and add examples for automations and dashboards
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/development/ARCHITECTURE.md
  docs/development/CUSTOMIZATION.md
  docs/user/EXAMPLES.md
Due: codespell

feat: resolve "latest" Home Assistant version via PyPI in devcontainer and bootstrap scripts
  .devcontainer/devcontainer.json
  script/hassfest
  script/setup/bootstrap
Due: none

feat: enhance Home Assistant version resolution and update setup scripts
  .devcontainer/devcontainer.json
  script/.lib/ha_version.sh
  script/hassfest
  script/setup/bootstrap
  script/setup/setup
Due: none

feat: add resilient download helper and integrate into setup scripts
  script/.lib/download.sh
  script/setup/bootstrap
  script/setup/setup
Due: none

chore(markdown): remove MD033 rule from markdownlint configuration
  .markdownlint.json
Due: none

chore(docs): update README.md structure and content
  README.md
Due: codespell

feat(config-flow): update documentation URL in user step
  custom_components/ha_integration_domain/config_flow_handler/config_flow.py
Due: ruff, ruff-format, codespell

chore(devcontainer): update base image and Python version
  .devcontainer/devcontainer.json
Due: none

chore(markdown): expand allowed inline HTML elements
  .markdownlint.json
Due: none

docs(architecture): update note formatting for clarity
  docs/development/ARCHITECTURE.md
  docs/development/CODESPACES.md
  docs/development/COPILOT_AGENT.md
  docs/development/RELEASE.md
Due: codespell

docs(README): update Home Assistant and Python version references
  README.md
  README.template.md
Due: codespell

chore(devcontainer): bump pytest-homeassistant-custom-component to 0.13.323
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  pyproject.toml
  requirements_test.txt
Due: none

chore(devcontainer): auto update Python 3.14 to latest patch version
  .github/workflows/validate.yml
  pyproject.toml
Due: none

chore(check): enhance hassfest validation for multiple environments
  script/check
  script/hassfest
Due: none

chore(devcontainer): optimize node_modules handling in devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/post-attach.sh
  script/setup/bootstrap
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  codespell: any of: \.py$, \.(md|markdown|mdown)$, \.rst$
