Repository jpawlowski/hacs.integration_blueprint: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, codespell

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration uses local hooks that rely on packages
# installed in the virtual environment (via requirements.txt),
# avoiding separate pre-commit environments for faster execution.
repos:
  - repo: local
    hooks:
      # Run the Ruff linter with auto-fix
      - id: ruff
        name: ruff
        entry: ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        require_serial: true

      # Run the Ruff formatter
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true

      # Spell checking
      - id: codespell
        name: codespell
        entry: codespell
        language: system
        types_or: [python, markdown, rst]

      # Type checking with Pyright (optional, can be slow)
      # Uncomment to enable in pre-commit (recommended to use in IDE instead)
      # - id: pyright
      #   name: pyright
      #   entry: pyright
      #   language: system
      #   types: [python]
      #   # Run manually with: pre-commit run pyright --all-files
      #   stages: [manual]

chore(devcontainer): harden agent approval defaults
  .devcontainer/devcontainer.json
  .vscode/settings.default.jsonc
Due: none

chore(devcontainer): add repo-managed agent runtime bootstrap
  .devcontainer/.bashrc
  .devcontainer/.env
  .devcontainer/.zshrc
  .devcontainer/claude-code/managed-settings.json
  .devcontainer/codex/config.toml
  .devcontainer/copilot/copilot-safe
  .devcontainer/copilot/default-flags.txt
  .devcontainer/on-create.sh
  docs/development/COPILOT_AGENT.md
Due: codespell

chore(devcontainer): remove Gemini defaults and old agent docs
  .devcontainer/devcontainer-extensions.json
  .devcontainer/devcontainer.json
  .devcontainer/on-create.sh
  .templatesyncignore
  .vscode/settings.default.jsonc
  AGENTS.md
  GEMINI.md
  docs/development/COPILOT_AGENT.md
  docs/development/CUSTOMIZATION.md
Due: codespell

chore(vscode): update extension recommendations
  .devcontainer/devcontainer-extensions.json
  .vscode/extensions.json
Due: none

feat(agents): add skills validation check to pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(prompts): remove outdated prompt files
  .github/prompts/Add Action.prompt.md
  .github/prompts/Add Config Option.prompt.md
  .github/prompts/Add Entity Platform.prompt.md
  .github/prompts/Add Entity to Device.prompt.md
  .github/prompts/Add New Sensor.prompt.md
  .github/prompts/Create ADR.prompt.md
  .github/prompts/Create Implementation Plan.prompt.md
  .github/prompts/Debug Coordinator Issue.prompt.md
  .github/prompts/Review Integration.prompt.md
  .github/prompts/Update Translations.prompt.md
Due: codespell

chore(ai-scratch): remove empty .gitkeep file
  .ai-scratch/.gitkeep
Due: none

chore(agents): move the AI scratch directory under .agents/
  .gitignore
  script/release-notes
Due: none

refactor(agents): move path-scoped instructions to .agents/instructions
  .agents/instructions/blueprint.api.instructions.md
  .agents/instructions/blueprint.commit-message.instructions.md
  .agents/instructions/blueprint.config_flow.instructions.md
  .agents/instructions/blueprint.configuration_yaml.instructions.md
  .agents/instructions/blueprint.coordinator.instructions.md
  .agents/instructions/blueprint.diagnostics.instructions.md
  .agents/instructions/blueprint.entities.instructions.md
  .agents/instructions/blueprint.json.instructions.md
  .agents/instructions/blueprint.manifest.instructions.md
  .agents/instructions/blueprint.markdown.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  .agents/instructions/blueprint.repairs.instructions.md
  .agents/instructions/blueprint.service_actions.instructions.md
  .agents/instructions/blueprint.services_yaml.instructions.md
  .agents/instructions/blueprint.shell.instructions.md
  .agents/instructions/blueprint.tests.instructions.md
  .agents/instructions/blueprint.translations.instructions.md
  .agents/instructions/blueprint.yaml.instructions.md
  .claude/rules/instructions
  .github/instructions
Due: codespell

feat(agents): load path-scoped instructions in claude code too
  .agents/instructions/blueprint.api.instructions.md
  .agents/instructions/blueprint.commit-message.instructions.md
  .agents/instructions/blueprint.config_flow.instructions.md
  .agents/instructions/blueprint.configuration_yaml.instructions.md
  .agents/instructions/blueprint.coordinator.instructions.md
  .agents/instructions/blueprint.diagnostics.instructions.md
  .agents/instructions/blueprint.entities.instructions.md
  .agents/instructions/blueprint.json.instructions.md
  .agents/instructions/blueprint.manifest.instructions.md
  .agents/instructions/blueprint.markdown.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  .agents/instructions/blueprint.repairs.instructions.md
  .agents/instructions/blueprint.service_actions.instructions.md
  .agents/instructions/blueprint.services_yaml.instructions.md
  .agents/instructions/blueprint.shell.instructions.md
  .agents/instructions/blueprint.tests.instructions.md
  .agents/instructions/blueprint.translations.instructions.md
  .agents/instructions/blueprint.yaml.instructions.md
Due: codespell

docs(agents): correct and deduplicate the path-scoped instructions
  .agents/instructions/blueprint.api.instructions.md
  .agents/instructions/blueprint.commit-message.instructions.md
  .agents/instructions/blueprint.config_flow.instructions.md
  .agents/instructions/blueprint.entities.instructions.md
  .agents/instructions/blueprint.markdown.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  .agents/instructions/blueprint.service_actions.instructions.md
Due: codespell

feat(agents): add task-triggered agent skills
  .agents/README.md
  .agents/skills/.gitkeep
  .agents/skills/README.md
  .agents/skills/blueprint-skill-maintenance/SKILL.md
  .agents/skills/blueprint-skill-maintenance/evals/evals.json
  .agents/skills/blueprint-tooling/SKILL.md
  .agents/skills/blueprint-tooling/evals/evals.json
  .agents/skills/blueprint-tooling/references/hooks.md
  .agents/skills/ha-breaking-changes/SKILL.md
  .agents/skills/ha-breaking-changes/evals/evals.json
  .agents/skills/ha-config-flow/SKILL.md
  .agents/skills/ha-config-flow/evals/evals.json
  .agents/skills/ha-coordinator-debug/SKILL.md
  .agents/skills/ha-coordinator-debug/evals/evals.json
  .agents/skills/ha-entity-platform/SKILL.md
  .agents/skills/ha-entity-platform/evals/evals.json
  .agents/skills/ha-modern-apis/SKILL.md
  .agents/skills/ha-modern-apis/evals/evals.json
  .agents/skills/ha-modern-apis/references/deprecations.md
  .agents/skills/ha-planning/SKILL.md
  .agents/skills/ha-planning/evals/evals.json
  .agents/skills/ha-quality-review/SKILL.md
  .agents/skills/ha-quality-review/evals/evals.json
  .agents/skills/ha-quality-review/references/quality-scale-rules.md
  .agents/skills/ha-release/SKILL.md
  .agents/skills/ha-release/evals/evals.json
  .agents/skills/ha-service-action/SKILL.md
  .agents/skills/ha-service-action/evals/evals.json
  .agents/skills/ha-testing/SKILL.md
  .agents/skills/ha-testing/evals/evals.json
  .agents/skills/ha-translations/SKILL.md
  .agents/skills/ha-translations/evals/evals.json
  .claude/skills
Due: codespell

chore(agents): add validation and eval tooling for skills
  requirements_dev.txt
  script/.lib/skill_evals.py
  script/.lib/skills_check.py
  script/lint
  script/lint-check
  script/markdown
  script/markdown-check
  script/skill-evals
  script/skills-check
Due: ruff, ruff-format, codespell

refactor(agents): make AGENTS.md the single always-loaded file
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  .vscode/settings.default.jsonc
  AGENTS.md
  CLAUDE.md
  CODEX.md
Due: codespell

chore(agents): strip blueprint-only content on initialization
  .templatesyncignore
  initialize.sh
Due: none

chore: exclude symlinked agent paths from markdown linting
  .markdownlint-cli2.jsonc
  .prettierignore
Due: none

docs: move agent procedures out of the developer docs into skills
  CONTRIBUTING.md
  README.md
  docs/development/ARCHITECTURE.md
  docs/development/COPILOT_AGENT.md
  docs/development/CUSTOMIZATION.md
  docs/development/DECISIONS.md
  docs/development/RELEASE.md
Due: codespell

fix(agents): scope instructions with paths, the key claude code reads
  .agents/instructions/blueprint.api.instructions.md
  .agents/instructions/blueprint.commit-message.instructions.md
  .agents/instructions/blueprint.config_flow.instructions.md
  .agents/instructions/blueprint.configuration_yaml.instructions.md
  .agents/instructions/blueprint.coordinator.instructions.md
  .agents/instructions/blueprint.diagnostics.instructions.md
  .agents/instructions/blueprint.entities.instructions.md
  .agents/instructions/blueprint.json.instructions.md
  .agents/instructions/blueprint.manifest.instructions.md
  .agents/instructions/blueprint.markdown.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  .agents/instructions/blueprint.repairs.instructions.md
  .agents/instructions/blueprint.service_actions.instructions.md
  .agents/instructions/blueprint.services_yaml.instructions.md
  .agents/instructions/blueprint.shell.instructions.md
  .agents/instructions/blueprint.tests.instructions.md
  .agents/instructions/blueprint.translations.instructions.md
  .agents/instructions/blueprint.yaml.instructions.md
  .agents/skills/blueprint-skill-maintenance/SKILL.md
  .agents/skills/ha-modern-apis/SKILL.md
  script/.lib/skills_check.py
Due: ruff, ruff-format, codespell

docs(agents): finish the globs-to-paths correction in prose
  .agents/README.md
  AGENTS.md
  CLAUDE.md
  docs/development/ARCHITECTURE.md
Due: codespell

chore(devcontainer): add Claude Code and Codex CLI features
  .devcontainer/devcontainer.json
Due: none

chore(devcontainer): update devcontainer features
  .devcontainer/devcontainer-lock.json
Due: none

feat(agents): support Claude Code and Codex CLI in skill-evals runner
  script/.lib/skill_evals.py
  script/skill-evals
Due: ruff, ruff-format, codespell

fix(agents): surface changelog/release consequence in ha-release skill
  .agents/skills/ha-release/SKILL.md
Due: codespell

fix(devcontainer): scope .env deny pattern, sandbox Codex CLI by default
  .devcontainer/claude-code/managed-settings.json
  .devcontainer/codex/config.toml
Due: none

feat(agents): declare repository role and trim always-loaded context
  .agents/README.md
  .agents/skills/README.md
  .agents/skills/blueprint-import/SKILL.md
  .agents/skills/blueprint-import/references/git-strategy.md
  .agents/skills/blueprint-import/references/legacy-patterns.md
  .agents/skills/blueprint-scaffold/SKILL.md
  .agents/skills/blueprint-skill-maintenance/SKILL.md
  .agents/skills/blueprint-skill-maintenance/evals/evals.json
  .agents/skills/blueprint-tooling/SKILL.md
  .agents/skills/blueprint-tooling/evals/evals.json
  .agents/skills/ha-breaking-changes/evals/evals.json
  .agents/skills/ha-config-flow/evals/evals.json
  .agents/skills/ha-coordinator-debug/evals/evals.json
  .agents/skills/ha-entity-platform/evals/evals.json
  .agents/skills/ha-modern-apis/evals/evals.json
  .agents/skills/ha-planning/evals/evals.json
  .agents/skills/ha-quality-review/evals/evals.json
  .agents/skills/ha-release/evals/evals.json
  .agents/skills/ha-service-action/evals/evals.json
  .agents/skills/ha-testing/evals/evals.json
  .agents/skills/ha-translations/evals/evals.json
  .markdownlint-cli2.jsonc
  .prettierignore
  AGENTS.md
  CONTRIBUTING.md
  docs/development/ARCHITECTURE.md
  docs/development/COPILOT_AGENT.md
  docs/development/MIGRATION.md
  initialize.sh
  script/.lib/skill_evals.py
  script/.lib/skills_check.py
  script/skill-evals
  script/skills-check
Due: ruff, ruff-format, codespell

chore(agents): drop the git-remote guess from the repo-role block
  .agents/skills/blueprint-skill-maintenance/SKILL.md
  AGENTS.md
Due: codespell

chore(agents): verify the repo-role markers survive in AGENTS.md
  script/.lib/skills_check.py
Due: ruff, ruff-format, codespell

feat(agents): point instructions files back at their partner skill
  .agents/instructions/blueprint.api.instructions.md
  .agents/instructions/blueprint.commit-message.instructions.md
  .agents/instructions/blueprint.config_flow.instructions.md
  .agents/instructions/blueprint.coordinator.instructions.md
  .agents/instructions/blueprint.entities.instructions.md
  .agents/instructions/blueprint.markdown.instructions.md
  .agents/instructions/blueprint.repairs.instructions.md
  .agents/instructions/blueprint.service_actions.instructions.md
  .agents/instructions/blueprint.services_yaml.instructions.md
  .agents/instructions/blueprint.shell.instructions.md
  .agents/instructions/blueprint.tests.instructions.md
  .agents/instructions/blueprint.translations.instructions.md
  .agents/skills/README.md
  .agents/skills/blueprint-skill-maintenance/SKILL.md
  script/.lib/skills_check.py
Due: ruff, ruff-format, codespell

docs(agents): add a cross-cutting source comment policy
  .agents/instructions/blueprint.comments.instructions.md
  .agents/instructions/blueprint.json.instructions.md
  .agents/instructions/blueprint.python.instructions.md
  AGENTS.md
Due: codespell

docs(migration): add migration guide for existing HACS integrations
  docs/blueprint/MIGRATION.md
Due: codespell

chore(github): remove COPILOT_CODING_AGENT.md from sync ignore
  .templatesyncignore
Due: none

fix(config-flow): allow the options form to be submitted
  custom_components/ha_integration_domain/config_flow_handler/schemas/options.py
Due: ruff, ruff-format, codespell

chore(scripts): give seed-http-config pre and post hooks
  script/setup/seed-http-config
Due: none

feat(scripts): mint a development access token offline
  script/.lib/seed_auth.py
  script/develop
  script/setup/seed-auth
Due: ruff, ruff-format, codespell

chore(devcontainer): deny agent reads of the development credentials
  .devcontainer/claude-code/managed-settings.json
Due: none

feat(scripts): add script/ha to drive the development instance
  script/.lib/ha_cli/__init__.py
  script/.lib/ha_cli/__main__.py
  script/.lib/ha_cli/client.py
  script/.lib/ha_cli/commands.py
  script/.lib/ha_cli/flows.py
  script/.lib/ha_cli/instance.py
  script/.lib/ha_cli/output.py
  script/ha
Due: ruff, ruff-format, codespell

docs(agents): document script/ha and the shared dev instance
  .agents/skills/blueprint-tooling/SKILL.md
  .agents/skills/blueprint-tooling/references/ha-cli.md
  .agents/skills/blueprint-tooling/references/hooks.md
  .agents/skills/ha-config-flow/SKILL.md
  .agents/skills/ha-coordinator-debug/SKILL.md
  AGENTS.md
  docs/development/CUSTOMIZATION.md
Due: codespell

docs(blueprint): separate template-only docs from the integration's
  .agents/skills/blueprint-skill-maintenance/SKILL.md
  README.md
  docs/blueprint/DECISIONS.md
  docs/blueprint/MIGRATION.md
  docs/blueprint/README.md
  docs/blueprint/TRANSFORMATION_PROMPT.md
  docs/development/AI_AGENTS.md
  docs/development/ARCHITECTURE.md
  docs/development/CODESPACES.md
  initialize.sh
Due: codespell

chore(deps): install git hooks with prek instead of pre-commit
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  requirements_dev.txt
  script/setup/bootstrap
Due: codespell

chore: align the Ruff configuration with Home Assistant Core
  pyproject.toml
Due: none
