Repository jpawlowski/hacs.integration_blueprint: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, codespell

ruff:
  name: ruff
  entry: ruff check --fix --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  require_serial: true

codespell:
  name: codespell
  entry: codespell
  language: system

chore(pre-commit): update YAML linting and markdown formatting scripts
  .pre-commit-config.yaml
  .prettierrc.yml
  .yamllint.yml
  script/markdown
Due: none

chore(devcontainer): standardize shebangs to #!/usr/bin/env bash
  .devcontainer/motd
  .devcontainer/setup-git.sh
  .devcontainer/setup-shell.sh
Due: none

build(devcontainer): add named volumes, lifecycle hooks, .env config, and local requirements
  .devcontainer/devcontainer.json
  .devcontainer/post-attach.sh
  .gitignore
  .templatesyncignore
  .vscode/settings.default.jsonc
  script/setup/bootstrap
  script/setup/setup
Due: none

docs(customization): expand with sync behavior, hooks, env vars, and deps
  docs/development/CUSTOMIZATION.md
Due: codespell

build(devcontainer): add lifecycle hook scripts and .env configuration files
  .devcontainer/.env
  .devcontainer/.env.local.example
  .devcontainer/_load_env.sh
  .devcontainer/on-create.sh
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  .devcontainer/update-content.sh
Due: none

chore(devcontainer): update post-start and update-content hooks
  .devcontainer/post-start.sh
  .devcontainer/update-content.sh
Due: none

docs(README): update integration benefits and rebuild speed
  README.md
Due: codespell

docs(customization): add VS Code settings overrides section
  docs/development/CUSTOMIZATION.md
Due: codespell

chore(devcontainer): update shell scripts and motd display logic
  .devcontainer/.bashrc
  .devcontainer/.zshrc
  .devcontainer/motd
  .devcontainer/post-attach.sh
  .devcontainer/post-start.sh
  .devcontainer/setup-shell.sh
Due: none

fix(devcontainer): fix EACCES race on container start by moving volume mounts
  .devcontainer/devcontainer.json
  .devcontainer/on-create.sh
  .vscode/settings.default.jsonc
  script/.lib/output.sh
  script/clean
  script/develop
  script/hassfest
  script/setup/bootstrap
  script/setup/setup
  script/test
Due: none

chore(package): rename integration tools for consistency
  package-lock.json
  package.json
Due: none

chore(workflow): enhance template sync workflow with PAT support
  .github/workflows/template-sync.yml
  docs/development/CUSTOMIZATION.md
Due: codespell

docs(README): add note on SSH remote development limitations
  README.md
Due: codespell

docs(README): update local development requirements for clarity
  README.md
  README.template.md
Due: codespell

chore(markdown): update markdownlint configuration and README templates
  .markdownlint.json
  README.md
  README.template.md
Due: codespell

feat(devcontainer): add version sync script and workflow
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/ha-version-sync-check.yml
  .pre-commit-config.yaml
  script/ha-version-sync
Due: none

feat(script): enhance HA version sync validation
  .github/workflows/ha-version-sync-check.yml
  script/ha-version-sync
Due: none

chore(workflow): enhance template sync workflow configuration
  .github/workflows/template-sync.yml
  docs/development/CUSTOMIZATION.md
Due: codespell

feat(script): integrate dynamic detection of integration domain
  script/.lib/integration.sh
  script/hassfest
  script/release-notes
  script/test
  script/version
  script/yaml-check
Due: none

chore(markdown): update markdown linting configuration
  .markdownlint-cli2.jsonc
  .markdownlintignore
  .prettierignore
Due: none

chore(instructions): update integration domain references to use placeholders
  .github/instructions/blueprint.api.instructions.md
  .github/instructions/blueprint.config_flow.instructions.md
  .github/instructions/blueprint.configuration_yaml.instructions.md
  .github/instructions/blueprint.diagnostics.instructions.md
  .github/instructions/blueprint.entities.instructions.md
  .github/instructions/blueprint.manifest.instructions.md
  .github/instructions/blueprint.python.instructions.md
  .github/instructions/blueprint.services_yaml.instructions.md
  .github/instructions/blueprint.tests.instructions.md
  .github/instructions/blueprint.translations.instructions.md
  .github/prompts/Add Action.prompt.md
  .github/prompts/Add Entity Platform.prompt.md
  .github/prompts/Add Entity to Device.prompt.md
  .github/prompts/Add New Sensor.prompt.md
  .github/prompts/Create ADR.prompt.md
  .github/prompts/Create Implementation Plan.prompt.md
  .github/prompts/Debug Coordinator Issue.prompt.md
  .github/prompts/Review Integration.prompt.md
  .github/prompts/Update Translations.prompt.md
  .gitignore
  .templatesyncignore
  script/develop
  script/release-notes
Due: codespell

feat(docs): add ChatGPT Codex instructions
  AGENTS.md
  CODEX.md
Due: codespell

feat(docs): add CODEX.md to template sync ignore list
  .templatesyncignore
Due: none

fix(devcontainer): safely recreate cached virtual environment
  script/setup/bootstrap
Due: none

fix(deps): declare pre-commit explicitly, it is no longer shipped by HA
  requirements_dev.txt
  script/setup/bootstrap
Due: none

feat(ci): enforce the documented commit convention with commitlint
  .commitlintrc.json
  .github/instructions/blueprint.commit-message.instructions.md
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package-lock.json
  package.json
Due: codespell

ci: reject type names used as commit scopes
  .commitlintrc.json
  .github/instructions/blueprint.commit-message.instructions.md
Due: codespell

ci(script): keep ha-version-sync usable without network access
  script/ha-version-sync
Due: none

feat(docs): enhance AI policy and contribution guidelines
  .github/copilot-instructions.md
  .github/pull_request_template.md
  .templatesyncignore
  AGENTS.md
  AI_POLICY.md
  CONTRIBUTING.md
  README.md
  README.template.md
  docs/development/COPILOT_AGENT.md
  docs/development/CUSTOMIZATION.md
Due: codespell

chore(devcontainer): add bubblewrap and socat to packages
  .devcontainer/devcontainer.json
Due: none

chore(devcontainer): disable terminal sandbox for chat tooling
  .devcontainer/devcontainer.json
  .vscode/settings.default.jsonc
Due: none

chore(devcontainer): update chat tool permissions settings
  .devcontainer/devcontainer.json
  .vscode/settings.default.jsonc
Due: none

chore(devcontainer): clear python.envFile to avoid extension warnings
  .devcontainer/devcontainer.json
  .vscode/settings.default.jsonc
Due: none

chore(deps): require Home Assistant 2026.8
  .devcontainer/.env
  .devcontainer/.env.local.example
  .github/instructions/blueprint.python.instructions.md
  README.md
  custom_components/ha_integration_domain/sensor/air_quality.py
  docs/development/CUSTOMIZATION.md
  hacs.json
  requirements_dev.txt
  requirements_test.txt
  script/.lib/ha_version.sh
  script/setup/bootstrap
Due: ruff, ruff-format, codespell

feat(blueprint): enforce config entry device ownership
  .github/instructions/blueprint.config_flow.instructions.md
  .github/instructions/blueprint.entities.instructions.md
  .github/instructions/blueprint.tests.instructions.md
  AGENTS.md
  custom_components/ha_integration_domain/config_flow_handler/subentry_flow.py
  tests/__init__.py
  tests/test_blueprint_device_registry.py
Due: ruff, ruff-format, codespell

chore(devcontainer): disable Claude Code's Bash sandbox
  .devcontainer/on-create.sh
Due: none

chore(devcontainer): disable Codex CLI sandbox and add just
  .devcontainer/devcontainer.json
  .devcontainer/on-create.sh
Due: none

ci: install node.js in copilot coding agent setup
  .github/workflows/copilot-setup-steps.yml
Due: none

chore(devcontainer): seed HTTP network config via storage, not YAML
  config/configuration.yaml
  script/develop
  script/setup/seed-http-config
  script/setup/setup
Due: none

chore(devcontainer): update recommended extensions for development
  .devcontainer/devcontainer-extensions.json
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  codespell: any of: \.py$, \.(md|markdown|mdown)$, \.rst$
